@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Urbanist', sans-serif;

}
*{
    padding: 0;
    margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
}
body{
    font-family: 'Urbanist', sans-serif;
    background-color: #161616;
    color: white;
}
.grow__sidebar{
    background-color: #f2f2f2;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar__logo__img{
}
.lang__button{
    margin-top: 30px;
    border: 2px solid #383838;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #262626;
    background: none;
    padding: 15px 30px;
}
.sidebar__items{
    margin-top: 19%;
}
.sidebar__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.item__txt{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0e0e0e;
}
.item__img{
    margin-top: 30px;
    width: 45px;
    height: 45px;
}
.grow__homepage{
    display: flex;
}
.content{
    width: 75%;
    margin: 0 auto;
}
.content__heading{
    margin-top: 5%;
}
.content__header{
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}
.content__subheader{
    margin-top: 7px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    color: #ABABAB;
}
input[type=text] {
    margin-top: 30px;
    width: 100%;
    padding: 15px 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background: none;
    border: 1.5px solid #007729;
    border-radius: 20px;
    color: white;
}
input[type=text]:focus {
    width: 300px;
}
.content__cards{
    margin-top: 90px;
    background: #212121;
    box-shadow: 0px 4px 10px #1AA64A;
    border-radius: 20px;
    padding: 20px 27px;
    width: 30%;
}
.card__top{
    display: flex;
    gap: 25px;
}
.user__job{
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.user__location{
    margin-top: 7px;
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #B6B6B6;
}
.user__bookmark1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #060606;
    border-radius: 5px;
}
.card__mid{
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #B6B6B6;
}
.card__bottom{
    margin-top: 22px;
    align-items: center;
    display: flex;
    gap: 15px;
}
.upload__job{
    background: none;
    border: 1px solid #1AA64A;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F3F3F3;
}
.cost{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #CACACA;
}
.cost__img{
    width: 25px;
    height: 25px;
}
.logo{
    color: #313131;
}
.cards{
    display: flex;
    gap: 10%;
    width: fit-content;
}
#click-to-hide{
    color: #1e1e1e;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    width: fit-content;
    height: 280px;

}
#hidden-element{
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background-color: #363636;
    padding: 40px;
    width: 600px;
    height: 100vh;


}
.logo{
    font-weight: 700;
    font-size: 23px;
    display: flex;

    flex-direction: column-reverse;
}
.logo__image{
    width: 50px;
    margin-left: 30px;
    margin-top: 25px;
}
.filters__section{
    display: flex;
}
.search__inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 70px;
}
.search input{
    width: 300px;
}
.search{

}
.filters{
    width: 100%;
    display: flex;
    justify-content:center;
    /* margin-bottom: 30px;*/
    padding-bottom: 15px;
    margin-top: 30px;
    gap: 50px;
}
.main__content{
    height: 50%;
    width: 100%;
    background-color: #fdfdfd;
}
.filters{
    border-bottom: 1px solid black;

}
.sidebar__item{
    cursor: pointer;
    transition: 0.5s;
}
.item__img{
    transition: 0.5s;
}
.item__img:hover{
    box-shadow: 0px 4px 4px #1AA64A;
}
.submit__to__vacation__btn{
    outline: none;
    padding: 5px 30px;
    margin-top: 15px;
    background-color: lightskyblue;
    border-radius: 5px;
    border: none;
}
/*cards*/
.vacancies__card{
    display: flex;
    flex-direction: row;
    height: 80vh;
}
.cards-panel{
    width: 50%;
    overflow: auto;
    height: 100%;
}
.card-item{
    margin: 20px;
}
.card-item:hover{
    background:#f7f7f7;
}
.content-panel{
    height: 100%;
    width: 70%;
}
.content-panel1{
    margin: 20px;
    height: 95%;
}
.hidden-p{
    display:none;
}
/* user accaunt*/
/*
.title-pen {
  color: #333;

  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.user-profile {
  margin: auto;
	width: 25em;

  border-radius: .3em;
  border: 1px solid black;
}

.user-profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;

  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043;
  font-size: .87em;

}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5;
  font-size: .87em;

}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile .data {
	margin: 2em auto;
	height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}


.otkl-title {
    font-size: 20px;
    font-weight: bold;
}

.otkl {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
@charset "UTF-8";
* {
  outline: none; }

body, html {
  margin: 0;
  background: #eee;
  font-family: 'Ubuntu', '微軟正黑體', sans-serif;
  letter-spacing: .65px;
  font-size: 15px;
  color: #555;
  cursor: default; }

a {
  text-decoration: none;
  color: #555;
  display: block;
  transition-duration: .3s; }

ul {
  list-style-type: none;
  padding: 0; }

h3 {
  color: #3d405b;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 18px; }

.resume {

  background: #fbfbfb;

  border: 1px solid #bbb;
  box-shadow: 0 0 20px -3px #bbb;
  position: relative;
  display: flex; }
  .resume::before {
    content: '';
    width: 100%;
    height: 6px;
    background: #1fcf65;
    position: absolute;
    bottom: 0;
    left: 0; }
  .resume::after {
    content: '';
    display: block;
    clear: both; }
  .resume .base, .resume .func {

    box-sizing: border-box;
    float: left; }
    .resume .base > div, .resume .func > div {
      padding-bottom: 10px; }
      .resume .base > div:last-of-type, .resume .func > div:last-of-type {
        padding-bottom: 0; }
  .resume .base {
    width: 50%;
    padding: 30px 15px;
    background: rgba(238, 238, 238, 0.6); }
    .resume .base .profile {
      background: #1fcf65;
      padding: 30px 15px 5px 15px;
      margin: -30px -15px 45px -15px;
      position: relative;
      z-index: 2; }
      .resume .base .profile::after {
        content: '';
        position: absolute;
        background: #1fcf65;
        width: 100%;
        height: 30px;
        bottom: -15px;
        left: 0;
        transform: skewY(-5deg);
        z-index: -1; }
      .resume .base .profile .photo img {
        height: 6.23em;
        width: 6.23em;
        border-radius: 50%; }
      .resume .base .profile .info {
        text-align: center;
        color: #fcfcfc; }
        .resume .base .profile .info .name {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 1.5em;
          font-weight: normal; }
    .resume .base .contact div {
      line-height: 24px; }
      .resume .base .contact div a:hover {
        color: #e07a5f; }
        .resume .base .contact div a:hover span::after {
          width: 100%; }
      .resume .base .contact div:hover i {
        color: #e07a5f; }
      .resume .base .contact div i {
        color: #1fcf65;
        width: 20px;
        height: 20px;
        font-size: 20px;
        text-align: center;
        margin-right: 15px;
        transition-duration: .3s; }
      .resume .base .contact div span {
        position: relative; }
        .resume .base .contact div span::after {
          content: '';
          position: absolute;
          background: #e07a5f;
          height: 1px;
          width: 0;
          bottom: 0;
          left: 0;
          transition-duration: .3s; }
    .resume .base .follow .box {
      text-align: center;
      vertical-align: middle; }
      .resume .base .follow .box a {
        display: inline-block;
        vertical-align: text-bottom; }
        .resume .base .follow .box a:hover i {
          background: #e07a5f;
          border-radius: 5px;
          transform: rotate(45deg) scale(0.8); }
          .resume .base .follow .box a:hover i::before {
            transform: rotate(-45deg) scale(1.5); }
      .resume .base .follow .box i {
        display: inline-block;
        font-size: 30px;
        background: #1fcf65;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        line-height: 60px;
        color: #fcfcfc;
        margin: 0 10px 10px 10px;
        transition-duration: .3s; }
        .resume .base .follow .box i::before {
          transition-duration: .3s; }
        .resume .base .follow .box i.fa::before {
          display: block; }
  .resume .func {

    padding: 30px 25px; }
    .resume .func:hover > div {
      transition-duration: .3s; }
      .resume .func:hover > div:hover h3 {
        letter-spacing: 1.6px; }
        .resume .func:hover > div:hover h3 i {
          transform: scale(1.2); }
      .resume .func:hover > div:not(:hover) {
        opacity: .5; }
    .resume .func h3 {
      transition-duration: .3s;
      margin-top: 0; }
      .resume .func h3 i {
        color: #fcfcfc;
        background: #1fcf65;
        width: 42px;
        height: 42px;
        font-size: 20px;
        line-height: 42px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        margin-right: 8px;
        transition-duration: .3s; }
    .resume .func .work, .resume .func .edu {
      float: left; }
      .resume .func .work small, .resume .func .edu small {
        display: block;
        opacity: .7; }
      .resume .func .work ul li, .resume .func .edu ul li {
        position: relative;
        margin-left: 15px;
        padding-left: 25px;
        padding-bottom: 15px; }
        .resume .func .work ul li:hover::before, .resume .func .edu ul li:hover::before {
          animation: circle 1.2s infinite; }
        .resume .func .work ul li:hover span, .resume .func .edu ul li:hover span {
          color: #e07a5f; }

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #3d405b; }
  to {
    box-shadow: 0 0 0 6px rgba(61, 64, 91, 0); } }
        .resume .func .work ul li:first-of-type::before, .resume .func .edu ul li:first-of-type::before {
          width: 10px;
          height: 10px;
          left: -2px; }
        .resume .func .work ul li:last-of-type, .resume .func .edu ul li:last-of-type {
          padding-bottom: 3px; }
          .resume .func .work ul li:last-of-type::after, .resume .func .edu ul li:last-of-type::after {
            border-radius: 1.5px; }
        .resume .func .work ul li::before, .resume .func .work ul li::after, .resume .func .edu ul li::before, .resume .func .edu ul li::after {
          content: '';
          display: block;
          position: absolute; }
        .resume .func .work ul li::before, .resume .func .edu ul li::before {
          width: 7px;
          height: 7px;
          border: 3px solid #3d405b;
          background: #fcfcfc;
          border-radius: 50%;
          left: 0;
          z-index: 1; }
        .resume .func .work ul li::after, .resume .func .edu ul li::after {
          width: 3px;
          height: 100%;
          background: #3d405b;
          left: 5px;
          top: 0; }
        .resume .func .work ul li span, .resume .func .edu ul li span {
          transition-duration: .3s; }
    .resume .func .work {
      width: 42%; }
    .resume .func .edu {
      width: 58%; }
    .resume .func .skills-prog {
      clear: both; }
      .resume .func .skills-prog ul {
        margin-left: 15px; }
        .resume .func .skills-prog ul li {
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          transition-duration: .3s; }
          .resume .func .skills-prog ul li:hover {
            color: #e07a5f; }
            .resume .func .skills-prog ul li:hover .skills-bar .bar {
              background: #e07a5f;
              box-shadow: 0 0 0 1px #e07a5f; }
          .resume .func .skills-prog ul li span {
            display: block;
            width: 120px; }
          .resume .func .skills-prog ul li .skills-bar {
            background: #cdcdcd;
            height: 2px;
            width: calc(100% - 120px);
            position: relative;
            border-radius: 2px; }
            .resume .func .skills-prog ul li .skills-bar .bar {
              position: absolute;
              top: -1px;
              height: 4px;
              background: #1fcf65;
              box-shadow: 0 0 0 #1fcf65;
              border-radius: 5px; }
    .resume .func .skills-soft ul {
      display: flex;
      justify-content: space-between;
      text-align: center; }
      .resume .func .skills-soft ul li {
        position: relative; }
        .resume .func .skills-soft ul li:hover svg .cbar {
          stroke: #e07a5f;
          stroke-width: 4px; }
        .resume .func .skills-soft ul li:hover span, .resume .func .skills-soft ul li:hover small {
          transform: scale(1.2); }
        .resume .func .skills-soft ul li svg {
          width: 95%;
          fill: transparent;
          transform: rotate(-90deg); }
          .resume .func .skills-soft ul li svg circle {
            stroke-width: 1px;
            stroke: #cdcdcd; }
          .resume .func .skills-soft ul li svg .cbar {
            stroke-width: 3px;
            stroke: #1fcf65;
            stroke-linecap: round; }
        .resume .func .skills-soft ul li span, .resume .func .skills-soft ul li small {
          position: absolute;
          display: block;
          width: 100%;
          top: 52%;
          transition-duration: .3s; }
        .resume .func .skills-soft ul li span {
          top: 40%; }
    .resume .func .interests-items {
      box-sizing: border-box;
      padding: 15px;
      width: 100%;
      border: 1px solid #cdcdcd;
      text-align: center;
      display: flex;
      justify-content: start; }
      .resume .func .interests-items div {
        display: inline-block;
        width: 80px;
        height: 80px; }
        .resume .func .interests-items div:hover i {
          transform: scale(1.2); }
        .resume .func .interests-items div:hover span {
          color: #e07a5f;
          transition-duration: .3s; }
        .resume .func .interests-items div i {
          font-size: 45px;
          width: 60px;
          height: 60px;
          line-height: 60px;
          color: #1fcf65;
          transition-duration: .3s; }
          .resume .func .interests-items div i.guitar {
            display: block;
            margin: 0 auto; }
            .resume .func .interests-items div i.guitar svg {
              width: 50px;
              height: 50px;
              margin-top: 5px;
              fill: #1fcf65; }
        .resume .func .interests-items div span {
          display: block; }
/*tutorial*/
.tutorial-block{
    background:#2e2a33;
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
}
/*user accaunt*/
.mcolor-text{
    opacity:0!important;
}