
{% extends "base.html" %}
{% load static %}

{% block content %}




{{ resume }}
<br>
{{ resume.name }}<br>
{{ resume.photo }}<br>
{{ resume.country }}<br>
{{ resume.city }}<br>
{{ resume.region }}<br>
{{ resume.language1 }}<br>
{{ resume.language2 }}<br>
{{ resume.study_name }}<br>
{{ resume.study_end_year }}<br>
{{ resume.study_grade }}<br>
{{ resume.faculty }}<br>
{{ resume.speciality }}<br>
<br>

{{ responders }}



{% endblock content %}
{% block script %}
<!--<script type="text/javascript" src="{% static 'js/configureTable.js' %}"></script>-->
{% endblock script %}
