
{% extends "userBase.html" %}
{% load static %}

{% block content %}
<div class="accaunt-block">


</div>


<div class="resume">
  <div class="base">
    <div class="profile">
      <div class="photo"><img src="{{ resume.photo }}"/></div>
      <div class="info">
        <h4 class="name">{{ resume.name }}</h4><small class="job">{{ category }}</small>
      </div>
    </div>
    <div class="about">
      <h3>О себе</h3>{{ resume.description }}
    </div>


  </div>
  <div class="func">

    <div class="skills-prog">
      <h3><i class="fa fa-code"></i>Данные</h3>
      <ul>
        <li data-percent="92"><span>Место проживания: </span>
          {{ resume.country }}, {{ resume.city }}, {{ resume.region }}
        </li>
        <li data-percent="96"><span>Первый язык: </span>
            {{ resume.language1 }}
        </li>
        <li data-percent="40"><span>Второй язык: </span>
            {{ resume.language2 }}
        </li>
      </ul>
    </div>
    <div class="skills-prog">
      <h3><i class="fa fa-code"></i>Образованя</h3>
      <ul>
        <li data-percent="92"><span>Наименование учебного заведения: </span>
          {{ resume.study_name }}
        </li>
        <li data-percent="96"><span>Год окончания: </span>
            {{ resume.study_end_year }}
        </li>
        <li data-percent="40"><span>Степень: </span>
            {{ resume.study_grade }}
        </li>
        <li data-percent="40"><span>Факультет: </span>
            {{ resume.faculty }}
        </li>
        <li data-percent="40"><span>Специальность: </span>
            {{ resume.speciality }}
        </li>
      </ul>
    </div>

    <div class="interests">
      <h3><i class="fa fa-star"></i>Достижения</h3>
      <div class="interests-items">
        {% for ach in achive %}
        <div class="">{{ ach.title }}
          <img style="height:40px;width:40px" src="{{ ach.image}}">
        </div>
        {% endfor %}

      </div>
    </div>
    <div class="skills-soft">
      <h3><i class="fa fa-th-list"></i>Отклики</h3>
      На вас никто пока не откликнулся
      <p class="mcolor-text">{{ resume }}</p>
<!--      {{ responders }}-->
    </div>
  </div>
</div>


{% endblock content %}
{% block script %}
<script type="text/javascript">

</script>
{% endblock script %}
